{% extends 'base2.html' %}
{% load filter %}

<!-- Min Container area -->

{% block content %}
    <section class="notifications_area">
        <div class="notifications">
            <!-- Dropdown Structure -->
            <div class="hed_notic">All Users</div>
            <ul class="notifications_content"><div class="jscroll-inner">
             {% for profile in profiles %}
                <li>
                   <a href="#">
                       <div class="media">
                            <img src={{ profile.profile_picture.url }} alt="" class="circle responsive-img">
                            <div class="media_body">
                                <p><b>{{profile.name}}</b></p>
                                <p>{{profile.city}},{{ profile.country }}</p>
                                    <div class="btn_group">
                                 <span class="waves-effect follow_b">
                                     <a href="#">message</a></span>
                                </div>
                            </div>
                       </div>
                   </a>
                </li>
              {% endfor %}
            <!--<div class="jscroll-added"><div class="jscroll-loading" id="jscroll-loading"><img src="images/preloader.svg" alt="Loading"></div></div>-->
            </div>
            </ul>
        </div>
    </section>
{% endblock %}

