<li class="hed_notic">Notifications<span><i class="ion-ios-gear-outline"></i></span></li>
{% for notification in notifications %}

                            <li>
                               <a href="#">
                                   <div class="media">
                                        <img src="/media/{{notification.from_user__profile__profile_small}}" alt="" class="circle responsive-img">
                                        <div class="media_body">
                                            <p><b>{{notification.action}}</b></p>
                                            <div class="btn_group"></div>
                                        </div>
                                   </div>
                               </a>
                            </li>
{% endfor %}

<li><a href="{% url 'all-notifications' %}" class="waves-effect chack_all_btn">All Notifications</a></li>