{% extends 'base.html' %}
{% load static %}

<!-- Min Container area -->

{% block content %}

{% for event in events %}
<div class="fast_post">
                <div class="post">
                   <div class="post_content">
                        <a href="details.html" class="post_img">
                            <img src={{ event.picture.url }} alt="" width="620" height="300">
                            <span><i class="ion-android-radio-button-off"></i>{{ event.category.name }}</span>
                        </a>
                        <div class="row author_area">
                            <div class="col s4 author">
                                <div class="col s4 media_left"><img src="images/author-1.jpg" alt="" class="circle"></div>
                                <div class="col s8 media_body">
                                    <a href="#">{{ event.startDate }}</a>
                                    <span>{{ event.endDate }}</span>
                                </div>
                            </div>
                            <div class="col s4 btn_floating">
                                <!--<a class="btn-floating waves-effect"><i class="ion-navicon-round"></i></a>-->
                            </div>
                            <div class="col s4 like_user">
                                <ul class="like_img">
                                    <li class="post_d"><a class="dropdown-button waves-effect" href="#!" data-activates="post_dropdown"><i 						class="ion-android-more-vertical"></i></a>
                                        <!-- Dropdown Structure -->
                                        <ul id="post_dropdown" class="dropdown-content">
					                        <li><a href="{% url 'schedule-add' event.id %}">Add To Calender</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="details.html" class="post_heding">{{ event.name }}</a>
                        <p>{{ event.description}}</p>
                       <p>{{ event.venue.city}}, {{ event.venue.country }}</p>
                   </div>

                    <div class="like_comment_area row">
                        <div class="col s4 btn_floating">
                            {% if request.user.profile in event.interest.all %}
                                     <a class="btn-floating waves-effect" onclick="Like({{ event.id }});" ><i class="ion-android-favorite" id="like{{ event.id }}"></i></a>
                                {% else %}
                                   <a class="btn-floating waves-effect" onclick="Like({{ event.id }});"><i class="ion-android-favorite-outline" id="like{{ event.id }}"></i></a>
                                {% endif %}

                            <h6 id="count{{ event.id }}">{{ event.interest.count }}</h6>
                        </div>
                    </div>
                </div>
</div>
{% endfor %}
         <div class="loading"><div class="jscroll-loading" id="jscroll-loading"><img src="{% static 'images/preloader.svg' %}" alt="Loading"></div></div>
              {% if page_obj.has_next %}
                <a class="infinite-more-link" href="?page={{ events.next_page_number }}">More</a>
            {% endif %}

      <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}
