{% extends 'base2.html' %}

    <!-- Messages Area -->
    {% block content %}
    <section class="messages_area">
        <div class="messages_row row">
            <div class="messages_heder">
                <h2>All Messages</h2>  
                <ul class="mg_btn">
                    <li><a href="#" class="waves-effect btn active"><i class="ion-ios-chatboxes"></i>New Message</a></li>
                    <li><a href="#" class="waves-effect btn">Mark all as read</a></li>
                    <li><a href="#" class="waves-effect btn setting_i"><i class="ion-ios-gear-outline"></i></a></li>
                </ul>
            </div>
           <div class="col s4 tab_panel">   
                <div class="search_area">  
                    <div class="input-field">
                        <input type="text" placeholder="Search">
                        <i class="ion-ios-search-strong"></i>
                    </div>
                </div>  
                <ul class="tabs tab_list">
                {% for friend in friends %}

                    <li class="tab">
                       <a target="_self" href="{% url 'get-messages' friend.id %}">
                            <div class="media" >
                                <img src={{friend.profile_picture.url}} alt=""  class="circle responsive-img">
                                <div class="media_body">
                                    <h4>{{friend.name}}</h4>

                                </div> 
                            </div>
                       </a>
                   </li>
                {% endfor %}
                </ul>
           </div> 
            <div class="col s8 tab_content">



                    {% include "messageitem.html" %}
                    

                </div>
            </div>
    </section>

    {% endblock %}
    <!-- End Messages Area --> 
    
