{% extends 'base2.html' %}

    <!-- Messages Area -->
    {% block content %}
        <script type="text/javascript">
var csrf_token = "{{ csrf_token }}";
</script>
 <section class="notifications_area">
        <div class="notifications">
            <!-- Dropdown Structure -->
            <div class="hed_notic">  <a href="{% url 'mark-all'%}">Mark All As Read</a> </div>
            <ul class="notifications_content">
                <div class="infinite-container">
             {% for friend in friends %}
                 <div class="infinite-item">
                <li>
                   <a href="#">
                       <div class="media">
                            <img src={{ friend.profile_picture.url }} alt="" class="circle responsive-img">
                            <div class="media_body">
                                <p> {{ friend.name }} </p>
                            </div>
                       </div>
                   </a>
                </li>
                 </div>
              {% endfor %}
            <div class="loading"><div class="jscroll-loading" id="jscroll-loading"><img src="{% static 'images/preloader.svg' %}" alt="Loading"></div></div>
              {% if page_obj.has_next %}
                <a class="infinite-more-link" href="?page={{ articles.next_page_number }}">More</a>
            {% endif %}

            </div>
            </ul>
        </div>
    </section>

      <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>

    {% endblock %}
    <!-- End Messages Area --> 
