<li class="hed_notic">Messages <span>Mark all as read <i class="ion-ios-gear-outline"></i></span></li>
{% for message in messages %}
                            <li>
                               <a href="#">
                                   <div class="media">
                                        <img src="images/profile-1.jpg" alt="" class="circle responsive-img">
                                        <div class="media_body">
                                            <h4>Emran Khan <small>12:40pm</small></h4>
                                            <p>Listen, I need to talk to you about this!</p>
                                        </div>
                                   </div>
                               </a>
                            </li>

{% endfor %}

<li><a href="#" class="waves-effect chack_all_btn">All Friend Request</a></li>