{% extends 'base2.html' %}
{% load filter %}
{% load static %}

<!-- Min Container area -->

{% block content %}
    <section class="notifications_area">
        <div class="notifications">
            <!-- Dropdown Structure -->
            <div class="hed_notic">  <a href="{% url 'mark-all'%}">Mark All As Read</a> </div>
            <ul class="notifications_content">
                <div class="infinite-container">
             {% for notification in notifications %}
                 <div class="infinite-item">
                <li>
                   <a href="#">
                       <div class="media">
                            <img src=/media/{{ notification.from_user__profile__profile_picture }} alt="" class="circle responsive-img">
                            <div class="media_body">
                                <p> {{ notification.action }} </p>
                                <div class="btn_group">
                                 <span class="waves-effect follow_b">
                                     <a href="{% url 'mark-read' notification.id %}">Mark As Read</a></span>
                                </div>
                            </div>
                       </div>
                   </a>
                </li>
                 </div>
              {% endfor %}
            <div class="loading"><div class="jscroll-loading" id="jscroll-loading"><img src="{% static 'images/preloader.svg' %}" alt="Loading"></div></div>
              {% if page_obj.has_next %}
                <a class="infinite-more-link" href="?page={{ articles.next_page_number }}">More</a>
            {% endif %}

            </div>
            </ul>
        </div>
    </section>

      <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}

