{% extends 'base3.html' %}
{% load static %}

{% block content %}
<section class="author_profile">
        <div class="row author_profile_row">
            <div class="col l4 m6">
                <ul class="profile_menu">
                    <li><a href="{% url 'modify-profile' request.user.profile.slug %}">About</a></li>
                    <li class="post_d"><a class="dropdown-button" href="#!" data-activates="dro_pm">...</a>
                        <!-- Dropdown Structure -->
                        <ul id="dro_pm" class="dropdown-content">
                            <li><a href="#">Schedule</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col l4 m6">
                <ul class="post_follow">
                    <li>Posts <b>{{count}}</b></li>
                    <li>Friends <b>{{fcount}}</b></li>
                </ul>
            </div>
            <div class="col l4 m6">
                <ul class="follow_messages">
                    <li><a href="{% url 'message-view' %}" class="waves-effect">Messages</a></li>
                </ul>
            </div>
        </div>
    </section>
<section class="min_container photo_pages">
        <div class="section_row row">
            <div class="col s12">
                <h2>All Posts</h2>
            </div>
            {% for post in posts %}
            <div class="col col l3 m4 s6 photos_col">
                <a href="#" class="photos" id="post{{ post.id }}" onclick="return Viewmodal({{post.id}});"><img src="{{ post.picture.url }}" alt=""></a>
            </div>
                    <!--------------------------------------------------------------------------------------------------------------------->

             <div id="modal{{ post.id }}" class="modal">
<div class="post post_details">
                   <div class="post_content">
                        <a class="post_img" href="#">
                            <img alt="" src={{ post.picture.url }}>
                        </a>
                        <div class="row author_area">
                             <div class="col s4 author">
                                <div class="col s4 media_left"><img src={{ post.author.profile.profile_small.url }} alt="" class="circle"></div>
                                <div class="col s8 media_body">
                                    <a href="#">{{ post.author.profile.name }}</a>
                                    <span>{{post.dateCreated}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="post_heding_aea">
                            <a class="post_heding" href="#"> </a>
                        </div>
                        <div class="socail_share_area row">
                            <p>{{ event.description}}</p>
                            <p>{{ event.venue.city}}, {{ event.venue.country }}</p>
                        </div>
                   </div>

                    <div class="like_comment_area row">
                        <div class="col s6 updown_btn comment_c">
                            <a href="#"><i class="ion-ios-chatboxes-outline"></i></a>
                            <a class="count_n" href="#">{{count}} comments</a>
                        </div>
                        <div class="col s6 updown_btn">
                            <a href="#"><i class="ion-android-arrow-dropdown-circle"></i></a>
                            <a href="#"><i class="ion-android-arrow-dropup-circle"></i></a>
                            <a class="count_n" href="#"></a>
                        </div>
                        <div class="col s12 comment_input_box">
                            <div class="input-field">
                                <textarea class="validate" id="comm{{ post.id }}" placeholder="Write your comment here"></textarea>
                                <button onclick="Comments('{{ post.id }}')">Post Comment</button>

                            </div>
                        </div>

                        <div class="col p0 s12">
                            <div id="commentContainer" class="content" style="overflow-y: scroll; height:200px;">
                                {% for comment in post.Pcomments.all %}
                                <div class="media">
                                <img class="circle responsive-img" alt="" src={{comment.authname.profile.profile_small.url}}>
                                <div class="media_body">
                                    <h6><a href="#">{{comment.authname.profile.name}}</a></h6>
                                    <p>{{comment.text}}</p>
                                </div>
                            </div>
                                {% endfor %}

                            </div>
                        </div>

                    </div>

</div>
             <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>

<!---------------------------------------------------------------------------------------------------------------------->

           {% endfor %}
        </div>
        <div class="loding_img">
            <img src="images/icons/loding.png" alt="">
        </div>

    </section>




{% endblock %}